<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyse</title>
</head>
<body>
    <div>
    <img src="static\Test Images\image_test.jpg" alt="Your actual image">
    <img src="static\Test Images\cropped_image_test.jpg" alt="Your cropped image">
    <img src="static\Test Images\graph.png" alt="Your face shape graph">
    </div>

    <div>
        <img src= {{img0}} alt="">
        <h4>{{n0}}</h4>
        <h3>face shape is {{faceshape}}</h3>
    
        <img src= {{img1}} alt="">
        <h4>{{n1}}</h4>
    
        <img src= {{img2}} alt="">
        <h4>{{n2}}</h4>
    </div>
</body>
</html>